
/* ___________________ our preloader CSS code starts here -------------- */

#preloader-comp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: grid;
    place-items: center;
    z-index: 999999;
    text-align: center;
    display: none;
}

.preloader-bx{
    position: relative;
}

.img-bx{
    position: relative;
    width: 32.5rem;
    margin: 0 auto 2rem auto;
}

.img-bx img{
    width: 100%;
    height: auto;
}


.preloader-bx p{
    font-size: 1.2rem;
    max-width: 40rem;
    margin-bottom: 1.5rem;

}

.loader-btn{
    position: relative;
    width: max-content;
    height: 3rem;
    background-color: #389233;
    padding-inline: 2.5rem;
    border: none;
    font-size: 1.15rem;
    color: #fff;
    letter-spacing:1px;
    border-radius: 3rem;

}

/* .megamenu:hover {
    color: #389233 !important; 
} */

